.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5dc;
    height: 100vh;
}

.signup-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.logo {
    height: 50px;
    margin-bottom: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto; /* 가운데 정렬 */
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 10px;
    min-width: 80px;
    text-align: left;
    font-size: 12px;
}

.input-group input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.input-group button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.interests-container {
    margin: 15px 0;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.interests label {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.interests input {
    margin-right: 3px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.signup-button, .back-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.back-button {
    background-color: #808080; /* 회색 배경 */
}
