/* LoginPage.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f3e9; /* 배경색 수정 */
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; /* 너비 설정 */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.logo {
    width: 150px; /* 로고 크기 조정 */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 너비를 100%로 설정 */
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; /* 너비를 100%로 설정 */
    margin-bottom: 10px;
}

.input-group label {
    width: 50px; /* 라벨 너비 설정 */
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #a16e47; /* 라벨 색상 수정 */
}

.input-group input {
    width: 250px; /* 입력 필드의 고정 너비 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px; /* 입력 필드의 둥근 모서리 설정 */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login-button {
    width: 100px; /* 버튼 너비 설정 */
    height: 60px; /* 버튼 높이 설정 */
    background-color: #a16e47; /* 로그인 버튼 색상 수정 */
    color: white;
    border: none;
    border-radius: 25px; /* 버튼의 둥근 모서리 설정 */
    cursor: pointer;
}

.login-button:hover {
    background-color: #8f5f38; /* 로그인 버튼 호버 색상 수정 */
}

.links {
    margin-top: 20px;
}

.links a {
    color: #a16e47;
    text-decoration: none;
    margin: 0 5px;
}

.links a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 15px;
}
