body,
html {
    background-color: black;
}

.AvatarApp {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aquamarine;
}

.url_input {
    width: 480px;
}

.avartar_video {
    width: 100%;
    background-color: rgb(222, 147, 49);
    height: 100%;
}
