@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/fonts/test.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif !important;
    color: #5b484a;
}

h2,
h3 {
    font-family: 'MyCustomFont', sans-serif !important;
    color: #5b484a;
    /* font-style: italic; */
}

.text-lg,
.text-xl,
.font-bold {
    font-family: 'MyCustomFont', sans-serif !important;
    color: #5b484a;
}

.left-container {
    flex: 0 0 20%; /* 왼쪽 영역을 33%로 고정 */
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px;
    overflow: hidden;
}

.right-container {
    flex: 1; /* 오른쪽 영역을 나머지 공간으로 설정 */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 24px;
    overflow: hidden;
}

.speech-bubble-container {
    width: 90%;
    height: 75%; /* 오른쪽 영역의 75% 높이 */
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.speech-bubble {
    background: #fff;
    border-radius: 0.4em;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 20px;
    text-align: center;
    pointer-events: all;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: -30px; /* 말풍선 끝 부분 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.min-h-screen {
    overflow: hidden;
}

.services-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 22%;
}

.service-image {
    max-width: 30%;
    height: auto;
}

.service-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
